[submodule "adtg-sim-to-real"]
	path = adtg-sim-to-real
	url = https://github.com/youwyu/Adaptive-Diffusion-Terrain
	branch = gh-pages
[submodule "qoed"]
	path = qoed
	url = https://github.com/youwyu/QOED
	branch = gh-pages
[submodule "nfc"]
	path = nfc
	url = https://github.com/youwyu/Neural-Fidelity-Calibration
