[submodule "adtg-sim-to-real"]
	path = adtg-sim-to-real
	url = git@github.com:youwyu/adtg-sim-to-real.git
[submodule "qoed"]
	path = qoed
	url = https://github.com/youwyu/Quasi-Optimal-Experimental-Design
